// Importando fonte popins do google fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.look {
  margin-left: 40px;
  margin-right: 40px;
  width: 100%vw;
}

.lookContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 22vw;
    height: auto;
    border-radius: 10px;
  }

  .lookitem {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

  .lookt {
    position: absolute;
    bottom: 20px;
    left: 15px;
    font-size: 1.5rem;
    color: white;
    text-shadow: 10 10px 20px rgba(0, 0, 0, 0.2);
  }
}

@media (max-width: 770px) {
  .lookContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: start;
    gap: 20px;

    img {
      width: 20vw;
      height: auto;
    }

    .lookitem {
      display: flex;
      flex-direction: column;
      width: 100%;

      img {
        width: 100%;
        height: 60vw;
      }
    }

    .lookt {
      font-size: 1rem;
    }
  }
}
