// Importando fonte popins do google fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

// Reset geral:

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Configurações gerais:

$textb: #242424;

// Tiporafia geral:

h2 {
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    color: $textb;
};

h3 {
   font-family: "Poppins", sans-serif;
}

h4, p {
  font-family: "Roboto", sans-serif;
};

p {font-size: small;
   width: 6vwx;};


//

header {
  width: 100%vw;

  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 120px;

    .logo {
      width: auto;
      height: 70px;
    }
  }

  ul {
    list-style: none;
    display: flex;
    gap: 20px;
    align-content: center;

    li {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease; // Suaviza o crescimento.
        color: $textb;
      }
    }
  }
}
