// Importando fonte popins do google fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


// Reset geral:

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Configurações gerais:

$textb: #242424;

// Tiporafia geral:

h2 {
  font-size: 2.25rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: $textb;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

//

// Adiciona uma imagem ao fundo da header 
header{
  height: 100%vh;
  width: 100%vw;
  padding-bottom: 53%;
  background-image: url(../../assets/Banner.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;


    nav {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background: transparent; // Efeito vidro na navbar
      backdrop-filter: blur(2px);
      height: 2vh;
      width: 100%;
      padding: 40px;
    };
};

/// SIDEBAR //////////////////////////////////////////////////
 
.sidebar {
  position: fixed;
  top: 0;
  right: -250px; // começa escondida
  width: 250px;
  height: 50vh;

  background: transparent;
  backdrop-filter: blur(6px);
  border-radius: 10px;
  box-shadow: -4px 0 12px rgba(0, 0, 0, 0.2);

  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;

  transition: right 0.3s ease-in-out;
  z-index: 200;

  
  a {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    color: #242424;
    text-decoration: none;

    &:hover {
      opacity: 0.6;
    }
  }

  &.active {
    right: 0; // aparece
  }
};

/// FUNDO ESCURO AO ABRIR A SIDEBAR

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);

  z-index: 100;
};

/////////////////////////////////////////////////////////////
  
.logo {
    width: 150px;
    height:auto;
};

.header-ul {
  list-style: none;
  display: flex;
  gap: 40px;
  align-content: center;

  .li-header {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease; // Suaviza o crescimento.
      color: $textb;
    };

    a {
      text-decoration: none;
      color: $textb;
    };
  };
};

// Botão de menu:
#menu-mobile {
  position: absolute;
  right: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: solid rgba(255, 255, 255, 0.333) 0.5px;

  &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease; // Suaviza o crescimento.
    };

  .line {
    height: 2px;
    width: auto;
    border-radius: 4px;
    width: 30px;
    background-color: rgb(22, 22, 22);
    margin: 5px;
  }; 
  

};

// Imagem da hero:
.hero {
  padding: 0;
  margin: 0;
  


    .banner {
      width:100%;
    };
};


// Tela responsiva a partir de 770px:
@media (max-width: 770px) {

 h2 {font-size: 1.2rem;};


  .li-header {
    display: none;
  };

  #menu-mobile {
    display: flex;
  };
};
