// Importando fonte popins do google fonts:
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");


// Reset geral:

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Configurações gerais:

$textb: #242424;

// Tiporafia geral:

h2 {
  font-size: 2.25rem;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  color: $textb;
}

h3 {
  font-family: "Poppins", sans-serif;
}

h4 {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 0.8rem;
  font-family: "Roboto", sans-serif;
}

//

// Adiciona uma imagem ao fundo da header 
header{
  height: 100%vh;
  width: 100%vw;
  padding-bottom: 53%;
  background-image: url(../../assets/Banner.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;


nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  height: 2vh;
  width: 100%;
  padding: 40px;
};
  
.logo {
    width: auto;
    height: 50px;
};

ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-content: center;

  .li-header {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease; // Suaviza o crescimento.
      color: $textb;
    };

    a {
      text-decoration: none;
      color: $textb;
      margin-left: 32px;
    };
  };
};

// Botão de menu:
#menu-mobile {
  position: absolute;
  right: 40px;
  display: none;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 100%;
  padding: 20px;
  height: 50px;
  width: 50px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: solid rgba(255, 255, 255, 0.333) 0.5px;

  &:hover {
      transform: scale(1.1);
      transition: transform 0.3s ease; // Suaviza o crescimento.
    };

  .line {
    height: 2px;
    border-radius: 4px;
    width: 30px;
    background-color: rgb(22, 22, 22);
    margin: 5px;
  }; 
  

};

// Imagem da hero:
.hero {
  padding: 0;
  margin: 0;
  


    .banner {
      width:100%;
    };
};
};

// Tela responsiva a partir de 770px:
@media (max-width: 770px) {

 h2 {font-size: 1.2rem;};


  .li-header {
    display: none;
  };

  #menu-mobile {
    display: flex;
  };
};
