$textb: #242424;

h4 {
  margin-bottom: 20px;
}

footer {
  display: flex;
  gap: 4vw;
  align-items: center;
  justify-content: left;
  margin: 40px;
}

.atendimento {
  height: 200px;
  width: auto;
  padding: 20px;

  .ul-atendimento {
    list-style: none;
    line-height: 2;

    li {
      font-family: "Roboto", sans-serif;
      font-weight: lighter;
      font-size: 0.9rem;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }
  }
}

.fpagamento {
  height: 200px;
  width: auto;
  padding: 20px;

  .wrap {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
  }

  .pagamentoimg {
    width: auto;
    height: 40px;
  }
}

.redes {
  height: 200px;
  width: auto;
  padding: 20px;

  .flex {
    display: flex;
    gap: 20px;

    img {
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
      }
    }
  }
}

@media (max-width: 770px) {
  footer {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .atendimento {
      text-align: center;
      .ul-atendimento {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
      }
    }

    .fpagamento {
      text-align: center;
      height: auto;
      .wrap {
        flex-flow: wrap;
        align-items: center;

        justify-content: center;
      }

      .pagamentoimg {
        width: auto;
        height: 40px;
      }
    }

    .flex {
      align-items: center;
      justify-content: center;
    }
  }
}
