
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");



.lansection {margin-bottom: 40px};


.landiv {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.colum {
    display: flex;
    flex-direction: column;
    gap: 10px;
  

      img {
        width: 100px;
      };
}

#face {
 height: 25vw;
 width: auto;
}

.card {
    display: flex;
    height: 25vw;
    width: 400px;
    padding: 20px;
    flex-direction: column;
    gap: 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    .stars {
      width: 70px;
    };

    aside {
      font-family: "Roboto", sans-serif;
      font-size: 10px;
    };

    .options {
      display: flex;
      gap: 10px;
    };

}

button {
  border-radius: 100%;
  height: 40px;
  width: 40px;
  border: none;
  cursor: pointer;
}

.azul {
  background-color: #B1B0D8;
}

.vermelho {
  background-color: #E1342A;
}

.marrom {
  background-color: #73282D;
}

.base {
  background-color: #DE755E;
}